.big {
  margin: 8px;
  width: 60vw;
  height: 100vh;
  background-color: #bdbdbd;
  border: 1px solid black;
}

.list_info {
  padding: 8px;
  padding-bottom: 0px;
  width: 60vw;
  height: 84vh;
  background-color: #bdbdbd;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.btn {
  width: 60vw;
  height: 16vh;
  padding: 0px 8px;
}

.button {
  width: 20vw;
  height: 90%;
  color: #168;
  font-size: 1.75em;
  border: 1px solid #ddd;
  background: #f0f6f9;
  border-top: 3px solid #168;
}
