.receipt1 {
  margin: 0 auto;
  margin-top: 10vh;
  padding: 8px;
  width: 40vw;
}

.check {
  width: 100vw;
  height: 100vh;
  text-align: center;
  position: relative;
  z-index: 1;
}

.check::after {
  width: 100vw;
  height: 100vh;
  content: '';
  background: url(https://cdn.pixabay.com/photo/2017/12/09/08/18/pizza-3007395_960_720.jpg)
    no-repeat center/cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.7;
}

.receipt_content1 {
  background-color: white;
  width: 100%;
  height: 100%;
  overflow: scroll;
}
.table1 {
  border-collapse: collapse;
  border-top: 3px solid #168;
  width: 100%;
}
.table1 th {
  color: #168;
  background: #f0f6f9;
  text-align: center;
}
.table1 th,
.table1 td {
  padding: 10px;
  border: 1px solid #ddd;
}
.table1 th:first-child,
.table1 td:first-child {
  border-left: 0;
}
.table1 th:last-child,
.table1 td:last-child {
  border-right: 0;
}
.table1 tr td:first-child {
  text-align: center;
}
